html {
	scroll-behavior: smooth;
}
body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	font-size: 16px;
    background-color: #272520;
    height: 100%;
	margin: 0;
}
button {
	cursor: pointer;
	border: none;
}
.button_main {
	font-size: 1.5rem;
	display: inline-flex;
	align-items: center;
	padding: 1rem 1.5rem;
	background-color: #ffc83d;
	color: #000;
	text-decoration: none;
	justify-content: center;
	border-radius: 8px;
	font-weight: bold;
	transition: background-color 0.3s ease;
	gap: 0.5rem;
}

.title {
	color: white;
	font-size: 3.2rem;
	font-weight: 700;
	margin: 0 0 0.8rem 0;
	letter-spacing: 0.03em;
}

.sub_title {
	color: white;
	font-size: 2.5rem;
	font-weight: 700;
	margin: 0 0 3rem 0;
	letter-spacing: 0.03em;
	text-align: center;
}

.highlight {
	color: #ffc83d;
}

.description_lg {
	font-size: 2rem;
	font-weight: 300;
	line-height: 1.6;
	margin: 5.5rem 0 3rem 0;
	color: white;
}

.description_sm {
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
	margin: 0.8rem 0;
	letter-spacing: 0.03em;
}

.caption {
	font-size: 1.2rem;
	font-weight: 300;
	margin: 0.8rem 0;
	letter-spacing: 0.03em;
	line-height: 1.4;
	color: #BEBEBC;
}

strong {
	font-weight: 500;
}

.button_main:hover {
	background-color: #e0b739;
}

section {
	justify-items: center;
	padding: 4rem 0;
	gap: 4rem;
}
.wrap {
	padding: 0px 16%;
}
#contact_form select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	background-color: white;
	border: 1px solid #ffc83d;
	border-radius: 8px;
	padding: 1rem;
	font-size: 1rem;
	color: black;
	background-image: url('/m/a/icon_arrow.svg');
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 1rem;
	cursor: pointer;
}
#contact_form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: 36rem;
}

#contact_form input,
#contact_form textarea,
#contact_form select {
	border-radius: 8px;
	border: 1px solid #161512;
	padding: 1rem;
	font-size: 1rem;
	cursor: auto;
}

#contact_form input:focus,
#contact_form textarea:focus,
#contact_form select:focus {
	outline: 2px solid #ffc83d;
}

#contact_form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}